html {
  scroll-behavior: smooth;
}

:root {
  --primary: var(--red);
  --red: #de6661;
  --beige: #EDE7DF;
  --grey: #696969;
  --blue: #667DB5;
  --black: #4E4E4E;
  --display-font: 'Mogena', serif;
  --body-font: 'Lato', sans serif;
  --neomorph: 6px 6px 5px  rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 1rem; }
}

.primary-button {
  background-color: var(--primary);
  border-radius: 1rem;
  border: none;
  font-family: var(--body-font);
  color: white;
  font-size: 1rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border: 2px solid var(--primary);
}

@media only screen and (max-width: 480px) {
  .primary-button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 2rem;
  }
}

.secondary-button {
  background-color: transparent;
  border-radius: 1rem;
  border: 2px solid var(--primary);
  font-family: var(--body-font);
  color: var(--primary);
  font-size: 1rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

@media only screen and (max-width: 480px) {
  .secondary-button {
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 2rem;
  }
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.switch-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  grid-column: col-start 12 / span 1;
}

@media only screen and (max-width: 480px) {
  .switch-container {
    grid-column: col-start 10 / span 3;
  }
}

.switch {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin: 1rem;
  border: none;
}

@media only screen and (max-width: 480px) {
.switch {
  margin: 1rem 1rem 0rem 0rem;
}
}

.switch-red-on {
background-color: var(--red);
}

.switch-blue-on {
  background-color: var(--blue);
}

.switch-black-on {
  background-color: var(--black);
}

body {
  margin: 0;
}

.layout-grid {
  display: inline-grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 2rem 1fr [footer] 8rem;
  width: 100%;
  margin: 0;
  background-color: var(--beige);
}

.main {
  grid-column: col-start 3 / span 8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.main > div {
  padding-bottom: 8rem;
}

@media only screen and (max-width: 480px) {
  .main {
    grid-column: col-start 2 / span 10;
  }
  .main > div {
    padding-bottom: 2rem;
  }
}

.footer {
  grid-row: footer / 3;
}

.nav {
  position: fixed;
  top: 0;
}

.nav ul {
  list-style-type: none;
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2;
  padding-inline-start: 1rem;
}

.nav-number {
  font-family: var(--display-font);
  margin-right: 1rem;
}

@media only screen and (max-width: 480px){
.nav-number {
  display: none;
}
}

@media only screen and (min-width: 481px) and (max-width: 1024px){
  .nav-number {
    display: none;
  }
  }

@media only screen and (max-width: 480px){
  .nav {
    width: calc(100vw - 1rem);
    left: 0.5rem;
    bottom: 0.75rem;
    top: auto;
    background-color: var(--beige);
    box-shadow: 1px 2px 8px  rgba(0, 0, 0, .1);
    z-index: 10;
    border-radius: 40px;
  }

  .nav li {
    display: inline;
  }

  .nav ul {
    font-size: 1rem;
    flex-wrap: nowrap;
    padding-inline-start: 0;
  }

  .nav-flex {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .nav {
    width: 100%;
    top: 0;
    background-color: var(--beige);
    box-shadow: 1px 2px 8px  rgba(0, 0, 0, .1);
    z-index: 10;
  }

  .nav ul {
    font-size: 1.25rem;
    flex-wrap: nowrap;
  }

  .nav li {
    display: inline;
  }

  .nav-flex {
    display: flex;
    justify-content: space-around;
  }
}

li a {
  color: var(--grey);
  text-decoration: none;
}

.is-current a {
  color: var(--primary);
}


.heading-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  align-content: flex-end;
  justify-content: flex-end;
}

@media only screen and (max-width: 480px) {
  .heading-container {
    align-content: flex-start;
    text-align: right;
  }
}

@media only screen and (max-width: 1024px) {
  .heading-container {
    text-align: right;
  }
}

.main-heading {
  font-family: var(--display-font);
  color: var(--primary);
  font-size: 6rem;
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .main-heading {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .main-heading {
    font-size: 4rem;
  }
}

.sub-heading {
  font-family: var(--display-font);
  color: white;
  font-size: 6rem;
  margin-top: 0;
}

@media only screen and (max-width: 480px) {
  .sub-heading {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .sub-heading {
    font-size: 4rem;
  }
}

.about-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

@media only screen and (max-width: 480px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .about-container {
    grid-template-columns: 1fr;
  }
}

.about-img {
  grid-column: col-start 1 / span 6;
  box-shadow: 1px 2px 8px  rgba(0, 0, 0, .1);
  border-radius: 15px;
}

.about-content {
  grid-column: col-start 8 / span 6;
}

@media only screen and (max-width: 480px) {
  .about-img {
    grid-column: col-start 1 / 2;
    grid-row: row-start 1 / 2;

  }
  .about-content {
    grid-column: col-start 1 / 2;
    grid-row: row-start 2 / 3;
  }
}

@media only screen and (max-width: 1024px) {
  .about-img {
    grid-column: col-start 1 / 2;
    grid-row: row-start 1 / 2;

  }
  .about-content {
    grid-column: col-start 1 / 2;
    grid-row: row-start 2 / 3;
  }
}

.section-title {
  color: var(--primary);
  font-family: var(--display-font);
  font-weight: 700;
  font-size: 2rem;
}

.section-paragraph {
  color: var(--grey);
  font-family: var(--body-font);
  line-height: 2rem;
  font-size: 1rem;
}

@media only screen and (max-width: 480px) {
  .section-paragraph {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.skills-container {
  width: 100%;
}

.skills-carousel-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 0.5rem;
}

@media only screen and (max-width: 480px) {
  .skills-carousel-container {
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
}
}

@media only screen and (min-width: 481px) {
  .skills-carousel-container {
  flex-wrap: wrap;
}
}

.skills-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  width: 22%;
  box-shadow: 1px 2px 8px  rgba(0, 0, 0, .1);
  border-radius: 15px;
}

@media only screen and (max-width: 480px) {
  .skills-card {
    flex: 0 0 auto;
    scroll-snap-align: center;
    width: 90%;
    margin-right: 5%;
    margin-left: 2%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .skills-card {
    width: 45%;
    margin-bottom: 5%;
  }
}

.skill-header {
  color: var(--primary);
  font-family: var(--body-font);
  font-weight: 900;
  text-align: center;
  width: 100%;
}

.skills-description {
    color: var(--grey);
    font-family: var(--body-font);
    padding: 1.5rem;
}

@media only screen and (max-width: 480px) {
  .skills-description { 
    font-size: 1rem;
    line-height: 1.8rem;
}
}

.skills-icon {
  padding: 2rem;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-box {
  display: flex;
  background-color: white;
  box-shadow: 1px 2px 8px  rgba(0, 0, 0, .1);
  border: 1px solid #eaeaea;
  border-radius: 20px;
  margin: 2rem 0rem 0rem 0rem;
}

@media only screen and (max-width: 480px) {
  .project-box {
    flex-direction: column;
    max-height: 30rem;
    flex: 1 0 auto;
  }
}

.project-title {
  color: var(--primary);
  font-family: var(--body-font);
  font-weight: 700; 
  padding: 2rem 0rem 0rem 2rem;

}

.project-paragraph {
  color: var(--grey);
  font-family: var(--body-font);
  padding: 2rem 0rem 0rem 2rem;
}

@media only screen and (max-width: 480px) {
  .project-paragraph {
    padding: 2rem;
  }
}

.project-copy {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media only screen and (max-width: 480px) {
  .project-copy {
    font-size: 1rem;
    line-height: 1.8rem;
    width: 100%;
  }
}

.coloured-background-dash {
  background-color: var(--primary);
  width: 50%;
  border-radius: 1rem 0rem 0rem 1rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
.coloured-background-dash {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}
}
.coloured-background-loan {
  background-color: var(--primary);
  width: 50%;
  border-radius: 0rem 1rem 1rem 0rem;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .coloured-background-loan {
    width: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
  }
  }

.dashboard-img {
  width: 100%;
  border-radius: 15px 0px 0px 15px;
}

@media only screen and (max-width: 480px) {
  .dashboard-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
}

.loan-img {
  width: 100%;
  border-radius: 0px 15px 15px 0px;
}

@media only screen and (max-width: 480px) {
  .loan-img {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
}

@media only screen and (max-width: 480px) {
  .project-loan {
    flex-direction: column-reverse;
  }
}

.contact-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
}

@media only screen and (max-width: 480px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

.contact-content {
  grid-column: col-start 1 / span 5;
}

.form-container {
  grid-column: col-start 7 / span 6;
  margin-top: 5rem;
}

.form-buttons {
  justify-content: flex-start;
  width: 60%;
  margin-top: 2rem;
}

@media only screen and (max-width: 480px) {
  .form-buttons{
    margin-top: 1rem;
}
}

.form-buttons button {
  margin-right: 1rem;
}

.textfield-label {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  font-family: var(--body-font);
  margin: 1rem 0rem 1rem 0rem;
}

@media only screen and (max-width: 480px) {
  .textfield-label {
  width: 100%;
  font-size: 1rem;
}
.form-buttons {
  width: 100%;
}
}

.textfield-label input, textarea {
  border-style: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-top: 0.5rem;
  background-color: white;
  box-shadow: 1px 2px 8px  rgba(0, 0, 0, .1);
  -webkit-appearance: none;
}


.textfield-label textarea:focus {
  outline: none !important;
  background-color: var(--primary);
  color: white;
}

.textfield-label input:focus {
  outline: none !important;
  background-color: var(--primary);
  color: white;
}

@media only screen and (max-width: 480px) {
  .contact-content {
    grid-column: col-start 1 / 2;

  }
  .form-container {
    grid-column: col-start 1 / 2;
    margin-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .contact-content {
    grid-column: col-start 1 / 2;

  }
  .form-container {
    grid-column: col-start 1 / 2;
    margin-top: 0;
  }
}

.contact-container a {
  color: var(--primary);
  font-weight: bold;
  }
  
  .projects-main {
    grid-column: col-start 2 / span 9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }

.project-page-container {
  width: 100%;
  display: flex;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.project-page-title {
  color: var(--primary);
  font-family: var(--display-font);
  font-size: 3rem;
}

.project-content {
  width: 70%;
}


.bottom-nav {
  font-family: var(--display-font);
  color: var(--primary);
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.projects-footer {
  grid-row: footer / 3;
  grid-column: col-start 2 / span 10;
}

.project-layout-grid {
  display: inline-grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-template-rows: 2rem 1fr [footer] 8rem;
  width: 100%;
  margin: 0;
  background-color: var(--beige);
}