@font-face {
    font-family: 'Patua One';
    src: url("../fonts/PatuaOne-Regular.ttf")
}

@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf")
}

@font-face {
    font-family: 'Mogena';
    src: url("../fonts/Mogena.ttf")
}

